<div class="container-fluid mt-5">
    <div class="row">
        <table class="table-responsive">
            <thead class="table-ligth ">
            </thead>
            <tbody>
                <tr class="mt-5 mb-5">
                    <th scope="row"><i
                            class="fab fa-internet-explorer iconoMenuDerecho text-primary mb-5 mr-5 ml-5"></i>
                    </th>
                    <th scope="row">
                        <h4>Aplicaciones de Web</h4>
                        <p> Te permite tener una app que será accesible desde cualquier navegador en cualquier
                            dispositivo. Además, al contrario de lo que sucede con las aplicaciones nativas, no
                            requieren descarga.</p>
                    </th>
                </tr>
                <tr class="mt-5 mb-5">
                    <th scope="row"><i class="fas fa-mobile iconoMenuDerecho text-primary mr-5 ml-5"></i>
                    </th>
                    <th scope="row">
                        <h4>Desarrollo Móvil</h4>
                        <p>Diseño y desarrollo de aplicaciones móviles para iPhone y Android con la más alta gama de
                            tecnologías
                            para empresas y Startups</p>
                    </th>
                </tr>
                <tr class="mt-5 mb-5">
                    <th scope="row"><i class="fas fa-laptop-code iconoMenuDerecho text-primary mr-5 ml-5"></i> </th>
                    <th scope="row">

                        <h4>Aplicaciones de Escritorio</h4>
                        <p>Las aplicaciones de escritorio son programas que se instalan directamente en el ordenador y
                            que no
                            necesitan conexión a Internet para poder trabajar con ellas.</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>