

<h3>Características Generales</h3>
<ul class="list-group">
    <li class="list-group-item"> <i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Multicompañías y Multisucursales</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Centro de Costos y Auxiliares</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Instalación en la Nube</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Contabilidad en Linea y Estados Financieros</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Reporte & Estados Configurables por el Cliente</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Impresión Cheques, Conciliación Bancarias</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Activos Fijos, Gastos Menores</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Facturación Multimonedas.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Facturas Recurrentes, Limite de Crédito</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Comisiones Vendedores</li>

  </ul>