

<h3>Características Generales</h3>
<ul class="list-group">
    <li class="list-group-item"> <i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Multicompañías y Multisucursales.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Facturación, Inventario.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Cuentas por Cobrar.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Cuentas por Pagar.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Recepción de Mercancías.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Contabilidad.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Bancos.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Nomina.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Recursos Humanos.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Comprobantes Fiscales (Archivos DGII).</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Reporte de Todos los Módulos Correspondiente.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Inteligencia de negocio.</li>


  </ul>