<h3>Características Generales</h3>
<ul class="list-group">
    <li class="list-group-item"> <i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Multicompañías y Multisucursales</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Centro de Costos y Auxiliares</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Instalación en la Nube</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Contabilidad en Linea y Estados Financieros</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Reporte & Estados Configurables por el Cliente</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Impresión Cheques, Conciliación Bancarias</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Activos Fijos, Gastos Menores</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Facturación Multimonedas.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Facturas Recurrentes, Limite de Crédito</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Comisiones Vendedores</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Inteligencia de Negocios</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Liquidación de Compras & Ordenes de compras Internacionales</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Carta de retenciones</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Archivo DGII( 606, 607, 608, 623, Anexo G, TSS, ISR e Infotep)</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Consultas Rnc EnLinea.</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Consulta Cedula Clientes</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>App Móvil Sum Facturación y Sum App Préstamo</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Múltiples Precios y Unidades de Medidas y Cód/Barras</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Cálculo de Prestaciones</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Porta ac consectetur ac</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Vestibulum at eros</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Porta ac consectetur ac</li>
    <li class="list-group-item"><i class="fa fa-arrow-circle-right text-primary mr-1" aria-hidden="true"></i>Préstamos Empleados</li>
  </ul>