<div class="row">

    <div class="ocean">
      <div class="wave"></div>
    </div>
  </div>

  <div class="row footer_container justify-content-md-center">
    <div class="col-sm-12 col-md-4 mt-3">
      <h4 class="me-auto ms-auto">SIGUENOS EN</h4>
      <i class="fab fa-facebook-f icon_footer_facebook mt-3"></i>
      <i class="fab fa-twitter icon_footer_twitter mt-3"></i>
      <i class="fab fa-instagram icon_footer_instagram mt-3"></i>
      <i class="fab fa-invision icon_footer_invision mt-3"></i>
    </div>
    <div class="col-sm-12 col-md-4">
      <table class="table-responsive">
        <thead>
          <tr>
            <th ><h4>NOSOTROS</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Partners</td>
          </tr>
          <tr>
            <td>FAQ's</td>
          </tr>
          <tr>
            <td>Getting Started
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>