{% block content -%}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand text-white text-uppercase" href="#"> <img class="rounded-pill wilmadevLogo" src="{{ url_for('static', filename='img/wilmadev.jpeg') }}" alt=""> </a>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white text-uppercase" aria-current="page" {% if data_nav %} href="/"{% else %} href="#index" {% endif %}><i class="fas fa-home"></i>Inicio</a>
        </li><!--{{ url_for('index') }}-->
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" {% if data_nav %} href="/#servicios"{% else %} href="#servicios"{% endif %}><i class="far fa-thumbs-up"></i>servicios</a>
        </li> <!--{{ url_for('servicios') }}-->
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" {% if data_nav %} href="/#Nosotros"{% else %} href="#Nosotros"{% endif %}tabindex="-1" aria-disabled="true"><i
              class="fas fa-info-circle"></i><!--{{ url_for('Nosotros') }}-->

            Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase"{% if data_nav %} href="/#Contactanos" {% else %}  href="#Contactanos"  {% endif %} tabindex="-1" aria-disabled="true"><i
              class="fas fa-phone-volume"></i>Contactos</a><!--{{ url_for('Contactanos') }}-->
        </li>
        <li class="nav-item">
          <a class="nav-link ml-5 text-white text-uppercase" href="#" tabindex="-1" aria-disabled="true"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}