{% block content -%}
<a name="Nosotros"></a>
<div class="container-fluid bg-primary mt-5">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 container_Nosotros">
            <div class="row justify-content-md-center">
              <h1 class="text-justify text-white">WilmaDev</h1>
              <p class="text-center text-white">Somos mucho más que una empresa somos una familia, prestamos un
                servicio integral a la empresa, para que el cliente no tenga que preocuparse de nada. Porque somos
                profesionales y trabajamos para asegurar el éxito de nuestros clientes.
                Porque realizamos proyectos personalizados a cada cliente.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


      {% endblock %}