{% extends "base/base.html" %}

{% block content -%}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row justify-content-md-center">
        <h1 class="text-justify text-white">WilmaDev</h1>
        <p class="text-center text-white">Somos mucho más que una empresa somos una familia, prestamos un
          servicio integral a la empresa, para que el cliente no tenga que preocuparse de nada. Porque somos
          profesionales y trabajamos para asegurar el éxito de nuestros clientes.
          Porque realizamos proyectos personalizados a cada cliente.</p>
      </div>
    </div>
  </div>
  <div class="row mb-5 bg-light">
    <div class="col-sm-12 col-md-3">
      <ul class="list-group  border border-success border-2 rounded-3">
        <li class="list-group-item bg-success text-center active" aria-current="true">
          <h1>SUM BASICO</h1>
        </li>
        <li class="list-group-item">
          <h2 class="text-success text-center">$42.00 US</h2>
          <h6 class="text-center">Mensual</h6>
          <h6 class="text-center">Soporte Gratis</h6>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">INVENTARIO Y PRODUCTOS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">FACTURACION</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COTIZACION Y CONDUCE</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR COBRAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">MANTENIMIENTO</h5>
        </li>
        <li class="list-group-item">
          <span class="align-items-center justify-content-center">
            <a href="" class="btn bg-success text-white font-weight-bold">Selecionar</a>

          </span>
        </li>


      </ul>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <ul class="list-group  border border-primary border-2 rounded-3 ">
        <li class="list-group-item bg-primary text-center active" aria-current="true">
          <h1>SEMI BASICO</h1>
        </li>
        <li class="list-group-item">
          <h2 class="text-primary text-center">$60.00 US</h2>
          <h6 class="text-center">Mensual</h6>
          <h6 class="text-center">Soporte Gratis</h6>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COTIZACION Y CONDUCE</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">INVENTARIO Y PRODUCTOS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">FACTURACION</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR PAGAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COMPRAS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">ARCHIVO ENVIO DGII (606,607,608)</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">MANTENIMIENTO</h5>
        </li>
        <li class="list-group-item">
          <span class="align-items-center justify-content-center">
            <a href="" class="btn bg-primary text-white font-weight-bold">Selecionar</a>

          </span>
        </li>


      </ul>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <ul class="list-group  border border-danger border-2 rounded-3">
        <li class="list-group-item bg-danger text-center active" aria-current="true">
          <h1>Avanzado</h1>
        </li>
        <li class="list-group-item">
          <h2 class="text-danger text-center">$80.00 US</h2>
          <h6 class="text-center">Mensuales</h6>
          <h6 class="text-center">Soporte Gratis & Adaptación
          </h6>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">INVENTARIO Y PRODUCTOS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">FACTURACION </h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COTIZACION Y CONDUCE</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR COBRAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR PAGAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COMPRAS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">ARCHIVO ENVIO DGII (606,607,608)</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CONTABILIDAD</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">MANTENIMIENTO</h5>
        </li>
        <li class="list-group-item">
          <span class="align-items-center justify-content-center">
            <a href="" class="btn bg-danger text-white font-weight-bold">Selecionar</a>

          </span>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3 ">
      <ul class="list-group  border border-warning border-2 rounded-3">
        <li class="list-group-item bg-warning text-center active" aria-current="true">
          <h1>FULL</h1>
        </li>
        <li class="list-group-item">
          <h2 class="text-white text-center">$112.00 US</h2>
          <h6 class="text-center">Mensuales</h6>
          <h6 class="text-center">Soporte Gratis & Adaptación
          </h6>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">INVENTARIO Y PRODUCTOS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">FACTURACION </h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">FACTURACION</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COTIZACION Y CONDUCE</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR COBRAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CUENTAS POR PAGAR</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">COMPRAS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">ARCHIVO ENVIO DGII (606,607,608)</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">CONTABILIDAD</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">BANCOS</h5>
        </li>
        <li class="list-group-item">
          <h5 class="text-center">MANTENIMIENTO</h5>
        </li>
        <li class="list-group-item">
          <span class="align-items-center justify-content-center">
            <a href="" class="btn bg-warning text-white font-weight-bold">Selecionar</a>

          </span>
        </li>


      </ul>
    </div>



    {% endblock %}