{% extends "base/base.html" %}

{% block content -%}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row justify-content-md-center"><h1 class="text-justify">Servicios</h1>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row justify-content-md-center">
        <h5>Funcionalidades que harán crecer tu negocio</h5>

      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-sm-12 col-md-5 mt-3 margen_columna">
      <div class="row">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fas fa-shopping-basket text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Venta y Renta de Sistemas</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fas fa-database text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Instalación de Redes y Servidores</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 mt-3 margen_columna">

      <div class="row">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fab fa-windows text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Instalación de Windows e Impresoras</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fa fa-handshake-o text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Asesoría Informática</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-light text-dark">
    <div class="col-sm-12">
      <div class="row justify-content-md-center"><h1 class="text-justify">Modulos</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 mt-3 margen_columna">
      <div class="row">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fa fa-university text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
           </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sistema Administrativo</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fa fa-line-chart text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
           </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sistema Financiero</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 mt-3 margen_columna">

      <div class="row">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fa fa-calculator text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>

           </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sistema Nómina</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <i class="fa fa-hospital-o text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
           </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Intgeligencia Empresaríal</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id
                  dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}