{% block content -%}

<div class="container">
  <div class="mt-5 mb-5">
    <div class="row">

      <div class="col-sm-12 col-md-5 mt-3 margen_columna">
        <div class="row">
          <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fas fa-shopping-basket text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Venta y Renta de Sistemas</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam
                    id
                    dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fas fa-database text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Instalación de Redes y Servidores</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam
                    id
                    dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mt-3 margen_columna">

        <div class="row">
          <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fab fa-windows text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Instalación de Windows e Impresoras</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam
                    id
                    dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fa fa-handshake-o text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">SERVIDORES REMOTOS</h5>
                  <p class="card-text">Nuestro sistema puede trabajar en servidores remotos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-light text-dark">
      <div class="col-sm-12">
        <div class="row justify-content-md-center">
          <h1 class="text-justify">Modulos</h1>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mt-3 margen_columna">
        <div class="row mb-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-university text-center canasta_servicio mt-5 " aria-hidden="true"></i>
                <h5>Cuenta por cobrar</h5>
              </div>
              <div class="flip-card-back">
                <h4 class="text-capitalize mt-5">Cuenta por cobrar</h4>
                <p class="text-capitalize">Recibos de cobros, crédito, nota, débito, pago adelantados, reportes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-line-chart text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Cuenta por pagar</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Cuenta por pagar</h5>
                <p class="text-capitalize">pago entrada de diario, pago facturas, nota crédito, nota débito</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-grav text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Inteligencia Empresarial</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Inteligencia Empresarial</h5>
                <p class="text-capitalize">Análisis de ventas,análisis productos,analis cuenta por cobrar análisis inventario </p>
              </div>
            </div>
          </div>

        </div>



      </div>


      <div class="col-sm-12 col-md-5 mt-3 margen_columna">
        <div class="row mb-5">

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-calculator text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Nómina y Recursos humanos </h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Nómina y Recursos humanos</h5>
                <p class="text-capitalize">Registro empleado,Regalía empleados,Registro salario
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-hospital-o text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Caja y bancos </h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Caja y bancos  </h5>
                <p class="text-capitalize">Movimientos bancarios, solicitud de cheques, conciliación bancaria, reportes</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">

                <i class="fa fa-area-chart text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Contabilidad</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Contabilidad</h5>
                <p class="text-capitalize">Documentos contables, entrada diario, Estados financieros, gasto menores, comprobantes fiscales, reportes</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-sellsy text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Venta y Renta de Sistemas</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Venta y Renta de Sistemas</h5>
                <p class="text-capitalize">Con esta modalidad nuestros clientes pueden realizar pagos mensuales o pago inmediato adquiriendo todos el 100% de los beneficios de la aplicación.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}