{% block content -%}

<div class="container">
  <div class="mt-5 mb-5">
    <div class="row">
      <div class="col-sm-12 col-md-5 mt-3 margen_columna">
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-sellsy text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Venta y Renta de Sistemas</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Venta y Renta de Sistemas</h5>
                <p class="text-capitalize">Con esta modalidad nuestros clientes pueden realizar pagos mensuales o pago
                  inmediato adquiriendo todos el 100% de los beneficios de la aplicación.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fas fa-database text-center canasta_servicio mt-5 mb-5 ml-5 mr-5"></i>
                <h5 class="text-capitalize">Instalación de Redes y Servidores</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Instalación de Redes y Servidores</h5>
                <p class="text-capitalize">Instalamos redes LAN, WAN, inalambrica y servidores</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-12 col-md-5 mt-3 margen_columna">
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="impresora_imagen mt-5 mb-5 ml-5 mr-5" src="{{ url_for('static', filename='img/Impresora.jpg') }}"
                  alt="">
                <h5 class="text-capitalize">Instalación de Windows e Impresoras</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Instalación de Windows e Impresoras</h5>
                <p class="text-capitalize">Instalaccion de Windows, venta y renta de impresoras multifuncionales</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-handshake-o text-center canasta_servicio mt-5 mb-5 ml-5 mr-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">SERVIDORES REMOTOS</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">SERVIDORES REMOTOS</h5>
                <p class="text-capitalize">Nuestro sistema puede trabajar en servidores remotos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-light text-dark mt-5">
      <div class="col-sm-12 mb-3 mt-5">
        <div class="row justify-content-md-center">
          <h1 class="text-justify">Modulos</h1>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mt-3 margen_columna mb-5">
        <div class="row mb-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-university text-center canasta_servicio mt-5 " aria-hidden="true"></i>
                <h5>Cuenta por cobrar</h5>
              </div>
              <div class="flip-card-back">
                <h4 class="text-capitalize mt-5">Cuenta por cobrar</h4>
                <p class="text-capitalize">Recibos de cobros, crédito, nota, débito, pago adelantados, reportes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-line-chart text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Cuenta por pagar</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Cuenta por pagar</h5>
                <p class="text-capitalize">pago entrada de diario, pago facturas, nota crédito, nota débito</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-grav text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Inteligencia Empresarial</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Inteligencia Empresarial</h5>
                <p class="text-capitalize">Análisis de ventas,análisis productos,analis cuenta por cobrar análisis
                  inventario </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mt-3 margen_columna mb-5">
        <div class="row mb-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-calculator text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Nómina y Recursos humanos </h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Nómina y Recursos humanos</h5>
                <p class="text-capitalize">Registro empleado,Regalía empleados,Registro salario
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="fa fa-hospital-o text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Caja y bancos </h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Caja y bancos </h5>
                <p class="text-capitalize">Movimientos bancarios, solicitud de cheques, conciliación bancaria, reportes
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">

                <i class="fa fa-area-chart text-center canasta_servicio mt-5" aria-hidden="true"></i>
                <h5 class="text-capitalize">Contabilidad</h5>
              </div>
              <div class="flip-card-back">
                <h5 class="text-capitalize mt-5">Contabilidad</h5>
                <p class="text-capitalize">Documentos contables, entrada diario, Estados financieros, gasto menores,
                  comprobantes fiscales, reportes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}