{% block content -%}


<div class="container">
  <a name="servicios"></a>

  <div class="mt-5 mb-5">
      <div class="row">

        <div class="col-sm-12">
          <div class="row justify-content-md-center">
            <h1 class="text-justify">Servicios</h1>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row justify-content-md-center">
            <h5>Funcionalidades que harán crecer tu negocio</h5>

          </div>
        </div>

      </div>
  </div>
</div>

</div>
</div>


{% endblock %}